@import "_reset";
@import "variables";

html, body {
    font: 100% $default-font;
    color: $dark;
    max-width: 100%;
    width: 1920px;
    scroll-behavior: smooth;
    h1{
        color: $accent;
    }
}
.container{
    max-width: 1920px;
    margin: 0 auto;
}

img{
    object-fit: contain;
}

.container-v100{
    height: 100vh;
    padding: 80px 150px;
}

.justify-content-center{
    display: flex;
    justify-content: center;
}

.uppercase{
    text-transform: uppercase;
}

//spacer
.container-default{
    padding: $spacer-base;
}

//header




// fixed with scrolled
header.fixed {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}



.header {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 9;
 .container-default{
     display: flex;
     font-size: $fs-l;
     align-items: center;
 }
    .header__logo  .header__logo-pic{
        font-style: normal;
        font-weight: 800;
        margin-right: 30px;
    }
    .header__logo--letter:first-letter{
        color: #F38D68;
    }

    .header__list .header__item{
        padding: 15px 15px;

    }
    .header__nav .header__list .header__item {
        display: inline-block;
        margin-left: auto;

    }
    .header__nav .header__list .header__item .header__link{
        color: $accent-two;
        font-weight: 500;
    }
    .header__list .header__item .header__link:hover{
        color: #222;
        background: #f58462;
    }
    //nav links hover

    .header__nav{
        margin-right: auto;
    }

    .header__list .header__item .header__link{
        padding: 20px 15px 20px 15px;
    }


    .header__body--ol-list{
        display:inline-flex ;
        align-items: center;
        flex-wrap: wrap;
        //display: inline-flex;
        //align-items: center;
        //.header__link{
        //    border:1px solid black;
        //}
        //
        //.header__item .header__link:hover{
        //    background-color: black;
        //    color: white;
        //}
        //.btn-logout{
        //    margin-right: 0;
        //    border:1px solid black;
        //    padding: 20px 15px 20px 15px;
        //    margin-left: 30px;
        //    cursor: pointer;
        //}
        //.btn-logout:hover{
        //    background-color: black;
        //    color: white;
        //}
       .header__item .header__link{
           display: inline-block;
           border: 1px solid $accent;
           text-align: center;
           padding: 10px 15px 10px 15px;
           margin-right: 30px;
           color: $black;
           font-weight: 500;

       }
        .header__item .header-link{
            padding: 10px 15px 10px 15px;
        }
         .header__item .header__link:hover{
            background-color: rgba(91, 192, 222, 0.40);
        }
        .btn-logout{
            padding: 20px 15px 20px 15px;
            cursor: pointer;

        }

    }
}


//intro

.intro{
    height: 100vh;
    background-image:url('../img/m_main-intro.jpg');
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 197px 0;
    position: relative;

    .front-intro{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
        opacity: 0.7;

    }
    .description-intro{
        z-index: 1;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
            .description__into{
                font-size:$fs-3xl;
                font-weight: 300;color: $white;
            }
        .title__intro{
            color: $white;
            font-size: $fs-large-main;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 76px;
        }
    }
    .search-intro{
        .form-search{
            .container-search{
               display: flex;
                flex-wrap: wrap;
            }
            .search-button{
                border: none;
                outline: 0;
                background: $accent-two;
                font-size: $fs-xl;
                cursor: pointer;
                border-radius: 2px;
                width: 100%;
                height: 76px;
                padding:25px 50px;
                margin:0;
                color: white;
            }
            .search-button:focus{
                border: thin #c7d3d6 solid;
            }

            .search-input{
                background-image: url('../img/icons/search-icon.jpeg');
                background-repeat:no-repeat ;
                background-size: 40px 40px;
                background-position: 5% 40%;
                font: $default-font;
                height: 100%;
                padding: 25px 110px;text-align: center;
                margin-right: 30px;
            }
            input[type="search"]::placeholder{
                font: $default-font;
                font-size: 18px;
                color: #fff;
            }
            input[type="text"]{
                font-size: 18px;

            }
    }
    }

}


//of_company

.inner__company{
    padding: 150px 0;
    background-size: cover;
    background-repeat: no-repeat;
    .title__company{
        text-align: center;
        font-weight: 700;
        font-size: $fs-xls;
        margin-bottom: 80px;
    }
    .subtitle__company--info{
        font-size: $fs-3xl;
        font-weight: 600;
        margin-bottom: 21px;
    }
    .description__company{
        font-size: $fs-xl;
    }


    .cols__company--info{
        display: grid;
        grid-template-columns:repeat(auto-fill, minmax(500px,1fr));
        grid-row-gap:80px ;
        grid-column-gap: 187px;

    }
    .col{
        display: grid;
        grid-template-columns: 25% 1fr;
        grid-column-gap: 70px;
        align-items: center;
    }
}

.guides{
    .inner__guides{
        padding: 150px 0 0 0;
        background-size: cover;
        background-repeat: no-repeat;
        .title__guides{
            text-align: center;
            font-weight: 700;
            font-size: $fs-xls;
            margin-bottom: 80px;
        }
        .cols__guides{
            .col-guids{
                display: flex;
                margin-bottom: 60px;
                .img_guid-container{
                    width: 358px;
                    height: 230px;
                    margin-right: 89px;
                    background: #D9D9D9;
                }
                .guid-title-container{
                    margin-bottom: 36px;
                    margin-top: 37px;
                    .guid-title{
                        font-size: 28px;
                        font-weight: 600;
                    }
                }
                .description-guid{
                    .experience-guid{
                        display: flex;
                        margin-bottom: 26px;
                        .img-icon{
                            height: 25px;
                            width: 25px;
                            margin-right: 25px;
                        }
                    }
                    font-size: 22px;
                    margin-bottom: 39px;
                    .quality-guid{
                        width: 100%;
                        padding-bottom: 37px;
                        span{
                           margin-right: 60px;
                            margin-bottom: 50px;
                            color:$accent-two
                        }
                        .list-guid-quality{
                            display: flex;
                            flex-wrap: wrap;
                        }
                    }
                    .bold-guid{
                        font-weight: bold;
                        margin-right: 40px;
                        margin-bottom: 30px;
                    }

                }
            }
        }
    }
}

//excursions block
.excursions{
    .inner__excursions{
        padding: 150px 0;
    .tours-container{
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(450px, 1fr));
        grid-column-gap: 44px;
        grid-row-gap: 64px;
        .card-tour{
            border: 1px solid black;
            .card-body{
                padding: 20px;
            }
            .img-card{
                padding: 25px;
                font-size: 14px;
.div-title-tour{
    margin-top: 220px;
    margin-bottom: 15px;
    font-size: 24px;
}
                .content-image{
                    .div-category{
                        h5{
                            font-weight: 400;
                            font-size: 16px;
                            text-transform: uppercase;
                        }
                    }
                    .div-group_time{
                        display: flex;

                    }
                    display: flex;
                    justify-content: space-between;align-items: center;
                    h5{
                        margin-left: 5px;
                    }
                    width: 100%;

                }
                .div-group_time{
                }
                .div-begin_tour{
                    display: flex;justify-content:flex-end;
                    background: #fff;
                    padding: 5px 10px;
                }
                .div-duration_tour{
                    margin-left: 22px;
                    background: #fff;
                    padding: 5px 5px;
                }
            }
            .text-body{
            }
            .card-body{
.price-title{
    margin-bottom: 25px;
}

            }
            .btn-tour{
                display: block;
                padding:15px 20px ;
                text-align: center;
                color: #fff;
                background: #F38D68;
                margin-top:50px ;


            }

        }
    }
    }
    .title__excursions{
        text-align: center;
        font-weight: 700;
        font-size: $fs-xls;
        margin-bottom: 80px;
    }
    .panel-body{
        margin-bottom:64px;
        .category-list{
            display: flex;
            //for now
            li{
                padding-left: 30px;
            }
        }
        .container-category{
            input{
                margin-left:20px ;
            }
            .checkbox:not(:disabled):active+label::before {
                background-color: #b3d7ff;
                border-color: #b3d7ff;
            }
            .checkbox+label {
                display: inline-flex;
                align-items: center;
                user-select: none;
            }

            .checkbox:checked+label::before {
                border-color: #0b76ef;
                background-color: #0b76ef;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
            }
        }
    }
}


//contacts block
.contacts{
    padding: 150px 0;
    .inner__contacts{

        .title__contacts{
            text-align: center;
            font-weight: 700;
            font-size: $fs-xls;
            margin-bottom: 80px;
        }.content__contacts{
             display: grid;width: 100%;
        grid-template-columns:  repeat(auto-fill, minmax(600px, 1fr));;
                     .map__company{
                                display: grid;

                         .map{height: 435px;
                             text-align: center;
                             }
                         [class*="copyrights-pane"]{
                             display: none !important;
                         }
                     }
        .description__contacts{
            margin-right: 160px;
            .contacts__address{
                border-left: 3px solid $accent-two ;
                padding-left: 40px;
                margin-bottom: 50px;
                font-size: $fs-3xl;
            }
            .contacts__phone{
                margin-left: 40px;
                display: flex;
                font-size: $fs-xl;
                p{
                    padding-left: 50px;
                    font-weight: bold;
                }
                p:first-child{
                    padding-left: 0;
                }
            }
            .contacts__social{
                display: flex;
                margin-top: 25px;
                margin-bottom: 25px;
                margin-left: 40px;

                .img__social{

                    width: 25px;
                    height: 25px;

                }
                a{
                     padding-left: 20px;
                 }
                a:first-child{
                    padding-left: 0;
                }
                .img__social:first-child{
                    margin-left: 0;
                }
            }
        }
    }

    }
}
//reviews block
.reviews{
    padding: 150px 0;

    .title__reviews{
        text-align: center;
        font-weight: 700;
        font-size: $fs-xls;
        margin-bottom: 80px;
    }
.inner__reviews{
    position: relative;
    display: flex;
    padding: 0 80px;
     .swiper-button-next{
        right: -5px;
         top: 40%;
        color: $accent-two;
    }
     .swiper-button-prev{
        left: -5px;
         top: 40%;
         color: $accent-two;

    }
}

    .cols-reviews{
        .swiper-scrollbar.swiper-scrollbar-horizontal{
            position: absolute;
            right: 0;
            left: 0;
            height: 14px;
            width: 352px;
            z-index: 9;
            margin:0 auto;
            background-color: #D9D9D9;
        }
        .swiper-scrollbar-drag{
            background: $accent-two;
        }

        .swiper-pagination-bullets {
            display: none;
        }

    .swiper-slide{
        display: grid;
        grid-template-columns: 0.7fr 0.7fr;
        grid-column-gap: 10px;
        grid-row-gap: 30px;
    }
        .col{
            padding: 44px 46px 0 46px;
            grid-column-gap: 30px;
            margin-bottom: 53px;
            display: grid;
            border:2px solid $black;
        .info-reviews{
            .up-reviews{
                display: flex;
                justify-content: space-between;
                margin-bottom: 32px;
                .left-reviews{
                    display: grid;
                    grid-template-columns: 0.4fr 1fr;
                    grid-column-gap: 36px;
                    align-items: center;
                    .user__reviews__img{
                        width: 100px;
                       img{
                           width: 100%;
                           height: 100%;
                           border-radius: 50%;
                           text-align: center;

                       }


                    }
                    .date-user__reviews{
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 17px;
                        margin-bottom: 16px;
                    }
                    .sub-title__reviews{
                        font-weight: 600;
                        font-size: 24px;
                    }
                }
                .rating-review {
                    display: inline-block;font-size: 0;
                }
                .rating-review span {
                    padding: 0;
                    font-size: 25px;
                    line-height: 1;
                    color: lightgrey;
                }
                .rating-review > span:before {
                    content: '★';
                }
                .rating-review   > span.active {
                    color: gold;
                }
            }
            .down-reviews{
                margin-bottom: 162px;
                .description-reviews{
                    font-size: $fs-l;
                    font-weight: 300;
                }
            }
        }
        }
    }
}




//footer
.footer{
    color: black;
    background: #F3F3F3;
    padding: $spacer-ftr;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $fs-l;
    flex-wrap: wrap;
    border: 2px solid $black;
    .footer__sub-title{
        font-size: $fs-3xl;
        font-weight: 500;

    }
    .footer__list .footer__item:first-child:after{
        position:absolute;
        bottom:0;
        width:7px;
        height:2px;
        background:#111

      }
    .footer__list{
        display: grid;
        grid-template-columns: 1fr 0.7fr;
        grid-column-gap: 110px;grid-row-gap:23px ;

    }
    .footer__col:first-child{
    border-left: 2px solid $accent-two;
    padding-left: 30px;
    .footer-logo{
        margin-bottom:30px;
    }
    }
        .footer__auth-list{
            display: inline-flex;
            align-items: center;
            .footer__item .footer__link{
                display: inline-block;
                border: 1px solid $accent;
                text-align: center;
                padding: 10px 15px 10px 15px;
                margin-right: 30px;
                color: $black;
                font-weight: 500;
            }
            .footer__item .footer__link:hover{
                background: $accent-two;
            }
        }





    }

.container-ath{
    background: url('../img/m_main-intro.jpg');
    .front-intro{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
        opacity: 0.7;
    }
}

//auth
.card-container{
    position: relative;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 45%;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding:30px 50px;
    height: 100%;
    margin: 0 auto;
    .card{
        .card-header{
            font-size: 60px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
    }
    .card-body{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .btn{
            border: none;
            outline: 0;
            background: $accent-two;
            font-size: $fs-xl;
            cursor: pointer;
            border-radius: 2px;
            width: 100%;
            height: 76px;
            padding:25px 50px;
            color: white;
            margin-bottom: 30px;
        }
        .account-register{
            text-align: center;
        }
        //padding: 174px 327px 267px 327px;
        .form-control{
            font: $default-font;
            padding-left: 30px;
            width: 352px;
            height: 60px;
            margin-bottom: 30px;
            font-size: 18px;
            color: #000;
            border: 2px solid $accent-two;
          text-transform: capitalize;
        }

        //input[type="text"]::placeholder{
        //    font: $default-font;
        //    font-size: 18px;
        //    color: #fff;
        //}
        input[type="password"]{
            text-transform: none;
        }
        input[type="password-cong"]{
            text-transform: none;
        }

        input[type="email"]{
            font: $default-font;
            font-size: 18px;
            text-transform: none;
        }
        input[type="tel"]{
            font: $default-font;
            font-size: 18px;
            text-transform: none;
        }



        //input[type="name"]::placeholder{
        //    font: $default-font;
        //    font-size: 18px;
        //    color: #fff;
        //}


    }
    .card-header-up{
        display: flex;
        align-items: center;
        justify-content:space-between;
        margin-bottom: 74px;
        flex-wrap: wrap;
        .item-header-up{
            font-size: 20px;
        }
    }

}



