@import "_reset";
@import "variables";

html, body {
    font: 100% $default-font;
    color: $dark;
    max-width: 100%;
    width: 1920px;
    h1{
        color: $accent;
    }
}
.container{
    max-width: 1920px;
    margin: 0 auto;
}

.container-v100{
    height: 100vh;

    padding: 80px 150px;
}

.justify-content-center{
    display: flex;
    justify-content: center;
}

.uppercase{
    text-transform: uppercase;
}

//spacer
.container-default{
    padding: $spacer-base;
}

//header



// fixed with scrolled
header.fixed {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}



.header {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 9;
 .container-default{
     display: flex;
     font-size: $fs-l;
     align-items: center;
 }

    .header__logo  .header__logo-pic{

    .header__logo  .header__logo--letter{

        font-style: normal;
        font-weight: 800;
        margin-right: 30px;
    }
    .header__logo--letter:first-letter{
        color: #F38D68;
    }

    .header__list .header__item{
        padding: 15px 15px;

    }
    .header__nav .header__list .header__item {
        display: inline-block;
        margin-left: auto;


    }
    .header__nav .header__list .header__item .header__link{
        color: $accent-two;
        font-weight: 500;
    }
    .header__list .header__item .header__link:hover{
        color: #222;
        background: #f58462;
    }

    }
    .header__nav .header__list .header__item .header__link{
        color: $accent-two;
        font-weight: 500;
    }
    .header__list .header__item .header__link:hover{
        color: #222;
        background: #f58462;
    }

    //nav links hover

    .header__nav{
        margin-right: auto;
    }

    .header__list .header__item .header__link{
        padding: 20px 15px 20px 15px;
    }


    .header__body--ol-list{
        display:inline-flex ;
        align-items: center;
        flex-wrap: wrap;
        //display: inline-flex;
        //align-items: center;
        //.header__link{
        //    border:1px solid black;
        //}
        //
        //.header__item .header__link:hover{
        //    background-color: black;
        //    color: white;
        //}
        //.btn-logout{
        //    margin-right: 0;
        //    border:1px solid black;
        //    padding: 20px 15px 20px 15px;
        //    margin-left: 30px;
        //    cursor: pointer;
        //}
        //.btn-logout:hover{
        //    background-color: black;
        //    color: white;
        //}
       .header__item .header__link{
           display: inline-block;
           border: 1px solid $accent;
           text-align: center;
           padding: 10px 15px 10px 15px;
           margin-right: 30px;
           color: $black;
           font-weight: 500;

       }
        .header__item .header-link{
            padding: 10px 15px 10px 15px;
        }
         .header__item .header__link:hover{
            background-color: rgba(91, 192, 222, 0.40);
        }
        .btn-logout{
            padding: 20px 15px 20px 15px;
            cursor: pointer;

        }

    }
}


//intro

.intro{
    height: 100vh;
    background-image:url('/public/storage/img/m_main-intro.jpg');
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 197px 0;
    position: relative;

    .front-intro{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
        opacity: 0.7;

    }
    .description-intro{
        z-index: 1;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
            .description__into{
                font-size:$fs-3xl;
                font-weight: 300;color: $white;
            }
        .tittle__intro{
            color: $white;
            font-size: $fs-large-main;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 76px;
        }
    }
    .search-intro{
        .form-search{
            .container-search{
               display: flex;
                flex-wrap: wrap;
            }
            .search-button{
                border: none;
                outline: 0;
                background: $accent-two;
                font-size: $fs-xl;
                cursor: pointer;
                border-radius: 2px;
                width: 100%;
                height: 76px;
                padding:25px 50px;
                margin:0;
                color: white;
            }
            .search-button:focus{
                border: thin #c7d3d6 solid;
            }

            .search-input{
                background-image: url("/public/storage/img/icons/search-icon.jpeg");
                background-repeat:no-repeat ;
                background-size: 40px 40px;
                background-position: 5% 40%;
                font: $default-font;
                height: 100%;
                padding: 25px 110px;text-align: center;
                height: 100%;padding: 25px 110px;text-align: center;
                margin-right: 30px;
            }
            input[type="search"]::placeholder{
                font: $default-font;
                font-size: 18px;
                color: #fff;
            }
            input[type="text"]{
                font-size: 18px;

            }
    }


    }




}


//of_company

.inner__company{
    padding: 150px 0;
    background-size: cover;
    background-repeat: no-repeat;
    .tittle__company{
        text-align: center;
        font-weight: 700;
        font-size: $fs-xls;
        margin-bottom: 80px;
    }
    .subtitle__company--info{
        font-size: $fs-3xl;
        font-weight: 600;
        margin-bottom: 21px;
    }
    .description__company{
        font-size: $fs-xl;
    }


    .cols__company--info{
        display: grid;
        grid-template-columns:repeat(auto-fill, minmax(500px,1fr));
        grid-row-gap:80px ;
        grid-column-gap: 187px;

    }
    .col{
        display: grid;
        grid-template-columns: 25% 1fr;
        grid-column-gap: 70px;align-items: center;
    }
}


//excursions block
.excursions{
    .inner__excursions{
        padding: 150px 0;
    }
    .title__excursions{
        text-align: center;
        font-weight: 700;
        font-size: $fs-xls;
        margin-bottom: 80px;
    }
    .panel-body{
        .category-list{
            display: flex;
            //for now
            li{
                padding-left: 30px;
            }
        }
    }
}


//contacts block
.contacts{
    padding: 150px 0;
    .inner__contacts{

        .title__contacts{
            text-align: center;
            font-weight: 700;
            font-size: $fs-xls;
            margin-bottom: 80px;
        }.content__contacts{
             display: grid;width: 100%;
        grid-template-columns:  repeat(auto-fill, minmax(600px, 1fr));;
                     .map__company{
                                display: grid;

                         .map{height: 435px;
                             text-align: center;
                             }
                         [class*="copyrights-pane"]{
                             display: none !important;
                         }
                         background: #D9D9D9;
                        text-align: center;
                        padding:200px 0;
                     }
        .description__contacts{
            margin-right: 160px;
            .contacts__address{
                border-left: 3px solid $accent-two ;
                padding-left: 40px;
                margin-bottom: 50px;
                font-size: $fs-3xl;
            }
            .contacts__phone{
                margin-left: 40px;
                display: flex;
                font-size: $fs-xl;
                p{
                    padding-left: 50px;
                    font-weight: bold;
                }
                p:first-child{
                    padding-left: 0;
                }
            }
            .contacts__social{
                display: flex;
                margin-top: 25px;
                margin-bottom: 25px;
                margin-left: 40px;

                .img__social{

                    width: 25px;
                    height: 25px;

                }
                a{
                     padding-left: 20px;
                 }
                a:first-child{
                    padding-left: 0;
                }
                .img__social:first-child{
                    margin-left: 0;
                }
            }
        }
    }

    }
}
//reviews block
.reviews{
    padding: 150px 0;

    .title__reviews{
        text-align: center;
        font-weight: 700;
        font-size: $fs-xls;
        margin-bottom: 80px;
    }
.inner__reviews{
    position: relative;
    display: flex;
    padding: 0 80px;
     .swiper-button-next{
        right: -5px;
         top: 40%;
        color: $accent-two;
    }
     .swiper-button-prev{
        left: -5px;
         top: 40%;
         color: $accent-two;

    }
}

    .cols-reviews{
        .swiper-scrollbar.swiper-scrollbar-horizontal{
            position: absolute;
            right: 0;
            left: 0;
            height: 14px;
            width: 352px;
            z-index: 9;
            margin:0 auto;
            background-color: #D9D9D9;
        }
        .swiper-scrollbar-drag{
            background: $accent-two;
        }

        .swiper-pagination-bullets {
            display: none;
        }

    .swiper-slide{
        display: grid;
        grid-template-columns: 0.7fr 0.7fr;
        grid-column-gap: 10px;
        grid-row-gap: 30px;
    }
        .col{
            padding: 44px 46px 0 46px;
            grid-column-gap: 30px;
            margin-bottom: 53px;
            display: grid;
    .slider{

    }
    .slick-prev:before {
        content: "<";
        color: red;
        font-size: 30px;
        margin-left: -50px;
        font-weight: bolder;
    }

    .slick-next:before {
        content: ">";
        color: red;
        font-size: 30px;
        margin-left: 30px;
        font-weight: bolder;

    }
    .slick-slider{
        min-width: 0;
    }
    .slick-track{
        display: flex;
        align-items: flex-start;
    }
    .slick-slide {
        margin: 0 20px; /* Измените отступы между слайдами на 20 пикселей */
    }

    .progress {
        display: block;
        height: 10px;
        margin-top: 20px;
        border-radius: 10px;

        background-color: #f5f5f5;
        background-image: linear-gradient(to right, black, black);
        background-repeat: no-repeat;
    }

    .cols-reviews{
    display: grid!important;

        .col{
            padding: 44px 46px 90px 46px;
            display: grid;

            border:2px solid $black;
        .info-reviews{
            .up-reviews{
                display: flex;
                justify-content: space-between;
                margin-bottom: 32px;
                .left-reviews{
                    display: grid;
                    grid-template-columns: 0.4fr 1fr;
                    grid-column-gap: 36px;
                    align-items: center;
                    .user__reviews__img{
                        width: 100px;
                       img{
                           width: 100px;
                           height: 100px;
                           border-radius: 50%;
                            text-align: center;
                           object-fit: cover;
                       }


                    }
                    .date-user__reviews{
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 17px;
                        margin-bottom: 16px;
                    }
                    .sub-title__reviews{
                        font-weight: 600;
                        font-size: 24px;
                    }
                }
                .rating-review {
                    display: inline-block;font-size: 0;
                }
                .rating-review span {
                    padding: 0;
                    font-size: 25px;
                    line-height: 1;
                    color: lightgrey;
                }
                .rating-review > span:before {
                    content: '★';
                }
                .rating-review   > span.active {
                    color: gold;
                }
            }
            .down-reviews{
                margin-bottom: 162px;
                .description-reviews{
                    font-size: $fs-l;
                    font-weight: 300;
                }
            }
        }
        }
    }
}

//footer
.footer{
    color: black;
    background: #F3F3F3;
    margin-bottom:98px ;
    padding: $spacer-ftr;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $fs-l;
    flex-wrap: wrap;
    border: 2px solid $black;
    .footer__sub-title{
        font-size: $fs-3xl;
        font-weight: 500;

    }
    .footer__list .footer__item:first-child:after{
        position:absolute;
        bottom:0;
        width:7px;
        height:2px;
        background:#111

      }
    .footer__list{
        display: grid;
        grid-template-columns: 1fr 0.7fr;
        grid-column-gap: 110px;grid-row-gap:23px ;

    }
    .footer__col:first-child{
    border-left: 2px solid $accent-two;
    padding-left: 30px;
    .footer-logo{
        margin-bottom:30px;
    }
    }
        .footer__auth-list{
            display: inline-flex;
            align-items: center;
            .footer__item .footer__link{
                display: inline-block;
                border: 1px solid $accent;
                text-align: center;
                padding: 10px 15px 10px 15px;
                margin-right: 30px;
                color: $black;
                font-weight: 500;
            }
            .footer__item .footer__link:hover{
                background: $accent-two;
            }
        }





    }

//auth
.card-container{
    position: relative;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 45%;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding:30px 50px;
    height: 100%;
    margin: 0 auto;
    .card{
        .card-header{
            font-size: 60px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
    }
    .card-body{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .btn{
            border: none;
            outline: 0;
            background: $accent-two;
            font-size: $fs-xl;
            cursor: pointer;
            border-radius: 2px;
            width: 100%;
            height: 76px;
            padding:25px 50px;
            color: white;
            margin-bottom: 30px;
        }
        .account-register{
            text-align: center;
        }
        //padding: 174px 327px 267px 327px;
        .form-control{
            font: $default-font;
            padding-left: 30px;
            width: 352px;
            height: 60px;
            margin-bottom: 30px;
            font-size: 18px;
            color: #000;
            border: 2px solid $accent-two;
          text-transform: capitalize;
        }

        //input[type="text"]::placeholder{
        //    font: $default-font;
        //    font-size: 18px;
        //    color: #fff;
        //}
        input[type="password"]{
            text-transform: none;
        }
        input[type="password-cong"]{
            text-transform: none;
        }

        input[type="email"]{
            font: $default-font;
            font-size: 18px;
            text-transform: none;
        }
        input[type="tel"]{
            font: $default-font;
            font-size: 18px;
            text-transform: none;
        }



        //input[type="name"]::placeholder{
        //    font: $default-font;
        //    font-size: 18px;
        //    color: #fff;
        //}


    }
    .card-header-up{
        display: flex;
        align-items: center;
        justify-content:space-between;
        margin-bottom: 74px;
        flex-wrap: wrap;
        .item-header-up{
            font-size: 20px;
        }
    }


}


